@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to
    right, #9ED6D7, #6CC5C6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(2, 90, 90, 0.678);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #025959;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(1, 58, 58, 0.671);
}

h2{
    color: #308688;
}

p {
    text-align: justify;
}